---
    import Layout from "../layouts/Layout.astro"
    import bg from "../assets/bg_home.jpg"
---
<Layout
    title="Inicio"
    bgImage={bg.src}
    subtitle="Disfruta una deliciosa taza de café con nosotros"
>
    <h1>Inicio</h1>
    <a href="/nosotros">Nosotros</a>
</Layout>
